body.ios [data-role="page"],
body.ios [data-role="dialog"] {
  -webkit-transform-style: preserve-3d;
}
body {
  font-family: 'Hiragino Kaku Gothic ProN', serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none;
  width: 320px;
  position: relative;
  min-height:330px;
}
body:lang(en) {
  font-size: 12.6px;
}