body {
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
  width:320px;
  -webkit-user-select: none;
  position: relative;
  min-height:330px;
  margin: 0px;
  padding:0px;
}
.ios body{ height:100%; }
body:lang(en) {
  font-size: 12.6px;
}
ul,li{ margin:0px; padding:0px; }
