
#HUD_BELOW .ui-btn .ui-icon { width: 50px!important; height: 50px!important; margin-left: -8px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; background-size: 50px 50px; left: 20%; }
#home .ui-icon { background: url(/images/icon_home.png) 50% 50% no-repeat;  }
#fuben .ui-icon { background: url(/images/icon_fuben.png) 50% 50% no-repeat;  }
#fight .ui-icon { background: url(/images/icon_fight.png) 50% 50% no-repeat;  }
#shop .ui-icon { background: url(/images/icon_shop.png) 50% 50% no-repeat;  }
#friends .ui-icon { background: url(/images/icon_friends.png) 50% 50% no-repeat;  }
#strategy .ui-icon { background: url(/images/icon_strategy.png) 50% 50% no-repeat;  }


